<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="4" name="Practice Suite" parallel="classes">
    <listeners>
        <listener class-name="utils.TestListener"></listener>
    </listeners>
    <test name="Test">
        <parameter name="number" value="3"></parameter>
        <classes>
            <class name="tests.FirstTest"/>
            <class name="tests.SecondTest"/>
            <class name="tests.ThirdTest"/>
            <class name="tests.FourthTest"/>
            <class name="tests.FifthTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->